<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4e61feca597e409675227ce43fe6a385 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_4e61feca597e409675227ce43fe6a385" ></div>
        
</body>
<script>
    
    
            var map_4e61feca597e409675227ce43fe6a385 = L.map(
                "map_4e61feca597e409675227ce43fe6a385",
                {
                    center: [56.3287, 44.002],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_22ba4a66766ea015a922f4430cdfcbfc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var tile_layer_030c845da0ed314f7ba67579ff665ba4 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var tile_layer_98b87027fe7edea90cc47c385e44dd1b = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var tile_layer_8060fd2b28b8531168307d5054e2a863 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var tile_layer_288cc55f49ae450daaa62c658a093492 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var tile_layer_6131b32335b5daf5644fc115cc38d0d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_9ff2adfa33bef3eea8f796238fc9004d = new L.Control.MiniMap(
                tile_layer_6131b32335b5daf5644fc115cc38d0d3,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_4e61feca597e409675227ce43fe6a385.addControl(mini_map_9ff2adfa33bef3eea8f796238fc9004d);
        
    
            var feature_group_13705987f1c799556ecc201450313b9c = L.featureGroup(
                {}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var feature_group_sub_group_9fb77bbac2ab58437630f584067f37fa = L.featureGroup.subGroup(
                feature_group_13705987f1c799556ecc201450313b9c
            );
            feature_group_sub_group_9fb77bbac2ab58437630f584067f37fa.addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var marker_6a8ff4758c86cc93d2f685f3b132401a = L.marker(
                [56.33371, 43.971393],
                {}
            ).addTo(feature_group_sub_group_9fb77bbac2ab58437630f584067f37fa);
        
    
            var icon_258ba7b665829cac19ed406b73210ddc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6a8ff4758c86cc93d2f685f3b132401a.setIcon(icon_258ba7b665829cac19ed406b73210ddc);
        
    
        var popup_2aecd8c0894317143863c8a950487720 = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_fd84ec7856da4a2368ce05e87d69b3e0 = $(`<div id="html_fd84ec7856da4a2368ce05e87d69b3e0" style="width: 100.0%; height: 100.0%;">Собор святого благоверного князя Александра Невского — православный храм в историческом центре Нижнего Новгорода, на стрелке Волги и Оки.</div>`)[0];
                popup_2aecd8c0894317143863c8a950487720.setContent(html_fd84ec7856da4a2368ce05e87d69b3e0);
            
        

        marker_6a8ff4758c86cc93d2f685f3b132401a.bindPopup(popup_2aecd8c0894317143863c8a950487720)
        ;

        
    
    
            marker_6a8ff4758c86cc93d2f685f3b132401a.bindTooltip(
                `<div>
                     Собор Александра Невского
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_19d578d871e296807cfdad39dc95b9cd = L.marker(
                [56.327337, 43.984922],
                {}
            ).addTo(feature_group_sub_group_9fb77bbac2ab58437630f584067f37fa);
        
    
            var icon_7041a17fb3adb3270fb4bcc38c278813 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_19d578d871e296807cfdad39dc95b9cd.setIcon(icon_7041a17fb3adb3270fb4bcc38c278813);
        
    
        var popup_48a1c7f8fc3d1a2cad2799482792eeef = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_0acd6d3ba78294dc8e12ebb705b6e1bb = $(`<div id="html_0acd6d3ba78294dc8e12ebb705b6e1bb" style="width: 100.0%; height: 100.0%;">Церковь Собора Пресвятой Богородицы, более известная как Рожде́ственская или Стро́гановская — действующая православная церковь, расположенная на Рождественской улице Нижнего Новгорода. Построена в 1696 — 1719 годах на средства купца Григория Дмитриевича Строганова.</div>`)[0];
                popup_48a1c7f8fc3d1a2cad2799482792eeef.setContent(html_0acd6d3ba78294dc8e12ebb705b6e1bb);
            
        

        marker_19d578d871e296807cfdad39dc95b9cd.bindPopup(popup_48a1c7f8fc3d1a2cad2799482792eeef)
        ;

        
    
    
            marker_19d578d871e296807cfdad39dc95b9cd.bindTooltip(
                `<div>
                     Церковь Пресвятой Богородицы
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04566b6426496e32b60904227c45f243 = L.marker(
                [56.323525, 44.047257],
                {}
            ).addTo(feature_group_sub_group_9fb77bbac2ab58437630f584067f37fa);
        
    
            var icon_810964fd9bfb629b721d37d06cbb40c5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_04566b6426496e32b60904227c45f243.setIcon(icon_810964fd9bfb629b721d37d06cbb40c5);
        
    
        var popup_61bf4d0280daea0fd82261465c84043c = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_8cbc3e845171a77846e4fd935f297997 = $(`<div id="html_8cbc3e845171a77846e4fd935f297997" style="width: 100.0%; height: 100.0%;">Мужской монастырь Нижегородской епархии Русской православной церкви в Нижнем Новгороде.</div>`)[0];
                popup_61bf4d0280daea0fd82261465c84043c.setContent(html_8cbc3e845171a77846e4fd935f297997);
            
        

        marker_04566b6426496e32b60904227c45f243.bindPopup(popup_61bf4d0280daea0fd82261465c84043c)
        ;

        
    
    
            marker_04566b6426496e32b60904227c45f243.bindTooltip(
                `<div>
                     Печёрский Вознесенский Монастырь
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7 = L.featureGroup.subGroup(
                feature_group_13705987f1c799556ecc201450313b9c
            );
            feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7.addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var marker_69ad93a79c1b39b3e89cfa11c35d53e5 = L.marker(
                [56.326344, 44.003523],
                {}
            ).addTo(feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7);
        
    
            var icon_28f3c509179daa7b6ba6c3f79a2455af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_69ad93a79c1b39b3e89cfa11c35d53e5.setIcon(icon_28f3c509179daa7b6ba6c3f79a2455af);
        
    
        var popup_dc41f9753d91ace60e5ea4d1893a1a06 = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_3a2dbac42a71145be7201b8fc0774f36 = $(`<div id="html_3a2dbac42a71145be7201b8fc0774f36" style="width: 100.0%; height: 100.0%;">Нижегородский кремль, памятник истории и культуры всемирного значения. Воздвигнутый в начале 16 века для защиты восточных рубежей русского государства, он ни разу не сдался врагу!</div>`)[0];
                popup_dc41f9753d91ace60e5ea4d1893a1a06.setContent(html_3a2dbac42a71145be7201b8fc0774f36);
            
        

        marker_69ad93a79c1b39b3e89cfa11c35d53e5.bindPopup(popup_dc41f9753d91ace60e5ea4d1893a1a06)
        ;

        
    
    
            marker_69ad93a79c1b39b3e89cfa11c35d53e5.bindTooltip(
                `<div>
                     Кремль
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_33b0f0262853f742e1b85e5fdb47e005 = L.marker(
                [56.3284333, 43.9609306],
                {}
            ).addTo(feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7);
        
    
            var icon_f034df2c147a5ccc28213b7e3d719054 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_33b0f0262853f742e1b85e5fdb47e005.setIcon(icon_f034df2c147a5ccc28213b7e3d719054);
        
    
        var popup_63a7b19a40f98764a4185f97d628e55a = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_48d6b8ad5bdb92280b9e7ffb9f15b36e = $(`<div id="html_48d6b8ad5bdb92280b9e7ffb9f15b36e" style="width: 100.0%; height: 100.0%;">Нижегородская ярмарка — исторический район, где располагалась крупнейшая ярмарка Российской империи. Центральный выставочный центр Нижнего Новгорода.</div>`)[0];
                popup_63a7b19a40f98764a4185f97d628e55a.setContent(html_48d6b8ad5bdb92280b9e7ffb9f15b36e);
            
        

        marker_33b0f0262853f742e1b85e5fdb47e005.bindPopup(popup_63a7b19a40f98764a4185f97d628e55a)
        ;

        
    
    
            marker_33b0f0262853f742e1b85e5fdb47e005.bindTooltip(
                `<div>
                     Ярмарка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e2c46ca00554cd2acd09885f88841af = L.marker(
                [56.329641, 43.992862],
                {}
            ).addTo(feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7);
        
    
            var icon_17872c60ee8d4939f4d4d89bcd628c0f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9e2c46ca00554cd2acd09885f88841af.setIcon(icon_17872c60ee8d4939f4d4d89bcd628c0f);
        
    
        var popup_3e2f21feb63727f85793b99e076a0b22 = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_95e25946e6d01130040578ffd4f6bb09 = $(`<div id="html_95e25946e6d01130040578ffd4f6bb09" style="width: 100.0%; height: 100.0%;">Здание является одним из двух корпусов комплекса банка Рукавишниковых, один из которых выходит на ул. Рождественскую, второй – на Нижне-Волжскую набережную. Он расположен в пределах обширного исторического района Нижний Посад, в зоне торговых представительств.</div>`)[0];
                popup_3e2f21feb63727f85793b99e076a0b22.setContent(html_95e25946e6d01130040578ffd4f6bb09);
            
        

        marker_9e2c46ca00554cd2acd09885f88841af.bindPopup(popup_3e2f21feb63727f85793b99e076a0b22)
        ;

        
    
    
            marker_9e2c46ca00554cd2acd09885f88841af.bindTooltip(
                `<div>
                     Банк Рукавишниковых
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_87a05e57351edf74f78523a2286baeb9 = L.marker(
                [56.320343, 43.998771],
                {}
            ).addTo(feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7);
        
    
            var icon_e267ccd60fdc95857fbedbe289c2728f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_87a05e57351edf74f78523a2286baeb9.setIcon(icon_e267ccd60fdc95857fbedbe289c2728f);
        
    
        var popup_b7b0ad9aec314bae2952080c56f19e13 = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_a46868ff0d93a514bbbc2f27bb7cf0ae = $(`<div id="html_a46868ff0d93a514bbbc2f27bb7cf0ae" style="width: 100.0%; height: 100.0%;">Нижегородское отделение Государственного банка — одно из немногих в стране зданий, никогда не менявших своих функций и архитектурного облика. Сооружение сочетает в себе черты романской архитектуры и русского зодчества XVII века, выражая тем самым идею величия Императорской России, её несломленности и верности патриархальным традициям.</div>`)[0];
                popup_b7b0ad9aec314bae2952080c56f19e13.setContent(html_a46868ff0d93a514bbbc2f27bb7cf0ae);
            
        

        marker_87a05e57351edf74f78523a2286baeb9.bindPopup(popup_b7b0ad9aec314bae2952080c56f19e13)
        ;

        
    
    
            marker_87a05e57351edf74f78523a2286baeb9.bindTooltip(
                `<div>
                     Государственный банк
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_sub_group_a8c85a465aaff9cc847ffb6186a44a68 = L.featureGroup.subGroup(
                feature_group_13705987f1c799556ecc201450313b9c
            );
            feature_group_sub_group_a8c85a465aaff9cc847ffb6186a44a68.addTo(map_4e61feca597e409675227ce43fe6a385);
        
    
            var marker_da56270fbb83d52663d6b98b034dc05e = L.marker(
                [56.330175, 44.009718],
                {}
            ).addTo(feature_group_sub_group_a8c85a465aaff9cc847ffb6186a44a68);
        
    
            var icon_3d9c1d0e103d1a895a2ee037e2c8d671 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_da56270fbb83d52663d6b98b034dc05e.setIcon(icon_3d9c1d0e103d1a895a2ee037e2c8d671);
        
    
        var popup_b647ad2172fb2fde5a5329af0dc8ab65 = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_6222fca938b9efb0e7c4203808168995 = $(`<div id="html_6222fca938b9efb0e7c4203808168995" style="width: 100.0%; height: 100.0%;">Монументальная лестница в историческом центре Нижнего Новгорода, соединяющая Верхне-Волжскую и Нижне-Волжскую набережные.</div>`)[0];
                popup_b647ad2172fb2fde5a5329af0dc8ab65.setContent(html_6222fca938b9efb0e7c4203808168995);
            
        

        marker_da56270fbb83d52663d6b98b034dc05e.bindPopup(popup_b647ad2172fb2fde5a5329af0dc8ab65)
        ;

        
    
    
            marker_da56270fbb83d52663d6b98b034dc05e.bindTooltip(
                `<div>
                     Чкаловская лестница
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_81341468cc1432dd4c427d0ed6ff8fad = L.marker(
                [56.336845, 43.963868],
                {}
            ).addTo(feature_group_sub_group_a8c85a465aaff9cc847ffb6186a44a68);
        
    
            var icon_e1f9c6fb34ef0879bcd13ca86bde1728 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_81341468cc1432dd4c427d0ed6ff8fad.setIcon(icon_e1f9c6fb34ef0879bcd13ca86bde1728);
        
    
        var popup_e5db3cc72a7f4463aa4ce03d0301e7ec = L.popup({"maxWidth": 450, "size": 20});

        
            
                var html_89ec8690f984b663e9ddd1ea51361e93 = $(`<div id="html_89ec8690f984b663e9ddd1ea51361e93" style="width: 100.0%; height: 100.0%;">«Ни́жний Но́вгород» — футбольный стадион международного класса. Расположен в одноимённом городе на Стрелке — месте впадения реки Оки в Волгу. Является домашней ареной футбольного клуба «Пари Нижний Новгород» и используется в качестве многофункционального спортивного комплекса.</div>`)[0];
                popup_e5db3cc72a7f4463aa4ce03d0301e7ec.setContent(html_89ec8690f984b663e9ddd1ea51361e93);
            
        

        marker_81341468cc1432dd4c427d0ed6ff8fad.bindPopup(popup_e5db3cc72a7f4463aa4ce03d0301e7ec)
        ;

        
    
    
            marker_81341468cc1432dd4c427d0ed6ff8fad.bindTooltip(
                `<div>
                     Футбольный стадион
                 </div>`,
                {"sticky": true}
            );
        
    
            var layer_control_ef1961010527dd6632cf599c61096873 = {
                base_layers : {
                    "openstreetmap" : tile_layer_22ba4a66766ea015a922f4430cdfcbfc,
                    "stamentoner" : tile_layer_030c845da0ed314f7ba67579ff665ba4,
                    "stamenwatercolor" : tile_layer_98b87027fe7edea90cc47c385e44dd1b,
                    "cartodbpositron" : tile_layer_8060fd2b28b8531168307d5054e2a863,
                    "cartodbdark_matter" : tile_layer_288cc55f49ae450daaa62c658a093492,
                },
                overlays :  {
                    "\u0412\u0441\u0435 \u043c\u0435\u0442\u043a\u0438" : feature_group_13705987f1c799556ecc201450313b9c,
                    "\u0426\u0435\u0440\u043a\u0432\u0438" : feature_group_sub_group_9fb77bbac2ab58437630f584067f37fa,
                    "\u0418\u0441\u0442\u043e\u0440\u0438\u0447\u0435\u0441\u043a\u0438\u0435" : feature_group_sub_group_9b5e7a2b35d4e7fe097edbcf3753c0e7,
                    "\u0414\u0440\u0443\u0433\u0438\u0435" : feature_group_sub_group_a8c85a465aaff9cc847ffb6186a44a68,
                },
            };
            L.control.layers(
                layer_control_ef1961010527dd6632cf599c61096873.base_layers,
                layer_control_ef1961010527dd6632cf599c61096873.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_4e61feca597e409675227ce43fe6a385);
            tile_layer_030c845da0ed314f7ba67579ff665ba4.remove();
            tile_layer_98b87027fe7edea90cc47c385e44dd1b.remove();
            tile_layer_8060fd2b28b8531168307d5054e2a863.remove();
            tile_layer_288cc55f49ae450daaa62c658a093492.remove();
        
</script>
</html>